body{
    background-color: #171717;
}

.image-index {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    padding: 20px;
    
}

.image-box-index {
    text-align: center;

}










.title {
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
}

.title.main {
    color: #DA0037;
    font-size: 42px;
    font-weight: 700;
}

.image-box {
    width: 500px;
    margin: 0 auto;
    
}
.image {
    width: 500px;
    height: auto;
    border-radius: 8px; 
}

.card {
    width: 450px;
    text-align: justify;
    background-color: #DA0037;
    margin: 0 auto;
    border-radius: 8px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #EDEDED;

}

.overview {
    text-align: center;
    
}

.bottom-links {
    text-align: center;
    
}
.direction label  {
    font-weight: bold;
}